@import "../../../variables.scss";

.buy-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: $spacing-block $spacing-inline;
  gap: 2em;
  .details-container {
    display: flex;
    flex-direction: column;
    gap: .7em;
  }
  ul {
    list-style: square;
    list-style-position: inside;
    li {
      margin-bottom: 5px;
    }
  }
  h2 {
    font-weight: 600;
  }
  p {
    font-size: 1.25rem;
  }
}

.fallback-wrapper {
  margin-block: $spacing-block;
  .fallback-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: clamp(1.5rem, 2vw, 2rem);
  }
}
