@if (productsDetails) {
  <section class="buy-product">
    <div class="image-container">
      <img src="{{ productsDetails.img }}" alt="{{ productsDetails.name }}" />
    </div>
    <div class="details-container">
      <h2>{{ productsDetails.name }}</h2>
      <p>{{ productsDetails.price | currency: "EUR" }}</p>
      <ul>
        @for (detail of details; track detail) {
          <li>{{ detail }}</li>
        }
      </ul>
      <div class="add-to-cart-wrapper">
        <div class="quantity">
          <button class="minus-btn" type="button">-</button>
          <input type="text" class="quantity-input" value="1" />
          <button class="plus-btn" type="button">+</button>
        </div>
        <button class="add-to-cart-btn">Add to cart</button>
      </div>
    </div>
  </section>
} @else {
  <section class="fallback-wrapper">
    <h2 class="fallback-text">No product found</h2>
  </section>
}
