@import "../../../variables.scss";

.weekly-offer-sec {
  background: url(/assets/img/weekly-offer-bg.jpg) no-repeat center center;
  background-size: cover;
  margin: $spacing-block $spacing-inline;
  height: 425px;
}

.inner-wrapper {
  padding: $spacing-block $spacing-inline;
  height: 100%;
  @include flex(column, center, flex-start);
  gap: $m-16;
  line-height: 1;
  h3 {
    font-size: clamp(2.5rem, 5vw, 2.75rem);
    color: $yellow-clr;
    font-weight: 500;
  }
  h4 {
    font-size: clamp(2rem, 4vw, 2.25rem);
    font-weight: 600;
  }
  p {
    line-height: 1.7;
  }
  button {
    font-size: 1.05rem;
  }
}

@media (max-width: 768px) {
  .weekly-offer-sec {
    margin: $spacing-block-small $spacing-inline-small;
    height: auto;
  }
  .inner-wrapper {
    padding-inline: $spacing-inline-small;
    p {
      display: none;
    }
  }
}
