@import "../../../variables.scss";

.weekly-offer-sec {
  background: url(/assets/img/weekly-offer-bg.jpg) no-repeat center center;
  background-size: cover;
  margin: $spacing-block $spacing-inline;
  min-height: 450px;
}
