@import "../../../variables.scss";

footer {
  background-color: #f5f5f5;
  padding: $spacing-block $spacing-inline;
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .homepage-link {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    color: black;
    font-weight: 600;
    a {
      color: inherit;
    }
    .logo-deco {
      color: hsl(36, 82%, 51%);
    }
  }
  .external-links {
    display: flex;
    gap: 12px;
  }
  svg {
    fill: black;
  }
}

@media (max-width: 768px) {
  footer {
    padding-inline: $spacing-inline-small;
  }
}
