<article class="hero-section">
  <figure>
    <img src="/assets/img/hero-img-1.png" alt="Organic Food Image" />
    <figcaption>
      <h1>
        Organic Food,
        <br />
        <span>Healthy Food</span>
      </h1>
      <p>
        We deliver organic vegetables & fruits <br />
        fresh from our fields to your doorstep.
      </p>
      <a href="#" class="btn-primary">Shop Now</a>
    </figcaption>
  </figure>
</article>

<app-offer-section></app-offer-section>
<app-new-products></app-new-products>
<app-weekly-offer></app-weekly-offer>
<app-delivery-process-section></app-delivery-process-section>
<app-footer></app-footer>
