<section class="organic-offer">
  <section class="offer-desc each-sec-heading">
    <h2>What we offer for you</h2>
    <p>
      Our organic Products are 100% natural and fresh. We have a wide range of
      organic products that are grown and cultivated with care and love.
    </p>
  </section>
  <section class="products-wrapper">
    <article class="organic-vegetables each-article">
      <figure class="vegtables-desc">
        <img src="/assets/img/vegetables.png" alt="Vegetables Image" />
        <figcaption>
          <h3>Organic Vegetables</h3>
          <p>Get the best organic vegetables from our farm.</p>
        </figcaption>
      </figure>
    </article>
    <article class="organic-fruits each-article">
      <figure class="fruits-desc">
        <img src="/assets/img/fruits.png" alt="Vegetables Image" />
        <figcaption>
          <h3>Organic Fresh Fruits</h3>
          <p>
            Try our fresh organic fruits and you will never go back to the old
            ones.
          </p>
        </figcaption>
      </figure>
    </article>
  </section>
</section>
