@import "../../../variables.scss";

.new-products-wrapper {
  padding-inline: $spacing-inline;
  text-align: center;
}

.products-list {
  width: 100%;
  display: flex;
  gap: $m-32;
  margin-block: $spacing-block;
  padding-inline-end: $m-16;
  overflow: auto hidden;
}

li {
  img {
    width: 225px;
    max-width: max-content;
  }
}
