<section class="delivery-process">
  <div class="deco-image">
    <img src="/assets/img/deco-without-bg.png" alt="deco-image" />
  </div>
  <div class="inner-wrapper">
    <h3>
      Let's Us Deliver Your<br />
      Organic Products
    </h3>
    <p>
      We deliver fresh vegetables and fruits to your doorstep. We are
      <br />committed to deliver the best quality fresh vegetables and fruits.
    </p>
    <p class="btns-wrapper">
      <button type="button" class="btn-primary bdr-highlight">
        Learn More
      </button>
      <button type="button" class="btn-primary">Buy Now</button>
    </p>
  </div>
</section>
