<section class="how-it-works-wrapper">
  <div class="how-it-works__heading">
    <h3>HOW IT WORKS</h3>
    <p>Your order will be delivered to you as soon as possible</p>
  </div>
  <div class="htw-details">
    <ul>
      <li>
        <h4>Sign Up</h4>
        <p>Create account or log in your account on web</p>
      </li>
      <li>
        <h4>Choose Products</h4>
        <p>Choose the products that best suits you</p>
      </li>
      <li>
        <h4>Get Delivered Fast</h4>
        <p>You can get your organic product the soonest</p>
      </li>
      <li>
        <h4>Subsribe & Review</h4>
        <p>Subsribe channels & review about products</p>
      </li>
    </ul>
  </div>
</section>
