@import "../../../variables.scss";

.how-it-works-wrapper {
  @include flex(column, flex-start, center);
  height: 425px;
  width: 100%;
  padding: $spacing-block $spacing-inline;
  background-color: $yellow-clr;
  color: $white-clr;
}

.how-it-works__heading {
  @include flex(column);
  h3 {
    font-size: $h3-font-size;
    font-weight: 600;
    margin-block-end: 6px;
  }
  p {
    font-style: italic;
  }
}

.htw-details {
  margin-block-start: 32px;
  ul {
    @include flex();
    gap: 32px;
    text-align: center;
  }
  li {
     h4 {
       font-size: clamp(1.25rem, 1.75vw, 1.5rem);
       font-weight: 600;
     }
  }
}
