@import "../../../variables.scss";

.how-it-works-wrapper {
  @include flex(column, flex-start, center);
  height: 425px;
  width: 100%;
  padding: $spacing-block $spacing-inline;
  background-color: $yellow-clr;
  color: $white-clr;
}

.how-it-works__heading {
  @include flex(column);
  h3 {
    font-size: $h3-font-size;
    font-weight: 600;
    margin-block-end: 6px;
  }
  p {
    font-style: italic;
  }
}

.htw-details {
  margin-block-start: 32px;
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 32px;
    text-align: center;
  }
  li {
    position: relative;
    width: 100%;
    .steps-wrapper {
      img {
        width: 48px;
        height: 48px;
      }
    }
    h4 {
       font-size: clamp(1.125rem, 1.5vw, 1.25rem);
       font-weight: 600;
       margin-block-end: 10px;
    }
    p {
       font-size: .95rem;
    }
  }
}

@media (max-width: 750px) {
  .how-it-works-wrapper {
    height: auto;
  }
  .htw-details {
    ul {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 12px;
    }
  }
}

@media (max-width: 572px) {
  .how-it-works__heading {
    text-align: center;
  }
  .how-it-works-wrapper {
     height: auto;
     padding: $spacing-block-small $spacing-inline-small;
   }
}
