@import "./variables.scss";
@import "./fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: $black-clr;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: transparent;
  outline: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.btn-primary {
  display: inline-block;
  background-color: $yellow-clr;
  color: $white-clr;
  padding: $btn-padding;
  border-radius: $btn-radius;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $yellow-clr-hover;
  }
}

.each-sec-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: $m-32;
  h2 {
    font-size: $subheading-font-size;
    margin-block: $m-16;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    width: fit-content;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      background-color: $yellow-clr;
      width: 50px;
    }
    &::before {
      left: -60px;
    }
    &::after {
      right: -60px;
    }
  }
  p {
    color: $grey-clr;
    max-width: 65ch;
  }
}

@media (min-width: 1200px) {
  header,
  .hero-section,
  .organic-offer,
  .new-products-wrapper,
  footer {
    padding-inline: $spacing-inline-large !important;
  }
  .weekly-offer-sec {
    margin-inline: $spacing-inline-large !important;
  }
}
