//colors
$pink-clr: #f9f4ee;
$yellow-clr: hsl(36, 82%, 51%);
$yellow-clr-hover: hsl(36, 82%, 41%);
$lightgrey-clr: #f6f6f8;
$grey-clr: #878787;
$white-clr: #ffffff;
$black-clr: #000000;

//btns
$btn-padding: 0.75em 2em;
$btn-radius: 100vh;

// heights and widths
$header-height: 72px;

//spacing
$spacing-inline: 5em;
$spacing-block: 4em;
$spacing-inline-2: 3em;
$spacing-inline-large: 5%;
$spacing-block-large: 5%;
$spacing-inline-small: 1.5em;
$spacing-block-small: 1.5em;

//Heading sizes
$heading-font-size: clamp(1.85rem, 5vw, 4rem);
$subheading-font-size: clamp(1.5rem, 4vw, 2rem);
$h3-font-size: clamp(1.25rem, 3vw, 1.75rem);
$logo-font-size: clamp(1.75rem, 3vw, 2.25rem);

//margins/padding
$m-48: 48px;
$m-32: 32px;
$m-24: 24px;
$m-16: 16px;

// mixins
@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
